streamlit
langchain-core
langchain-community
langchain-groq
langchain-openai
langchain-google-genai
langchain-text-splitters
langchain-huggingface
langgraph
pypdf
faiss-cpu
sentence-transformers
wikipedia
arxiv
duckduckgo-search==6.1.0
pillow
pytesseract
unstructured
networkx
chardet
